.content-box{
  width: 1100px;
  z-index: 100;
  border-radius: 5px;
  position: relative;
  margin: 33vh auto auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .moduleItem{
    cursor: pointer;
    background: #fff;
    line-height: 150px;
    text-align: center;
    width: 300px;
    height: 150px;
    margin-bottom: 50px;
    font-size: 20px;
    border-radius: 5px;
  }
}
